{% extends 'package/base.html' %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    {% if pkg %}
	<li class="active">{% link_for _('Edit'), named_route=pkg.type ~ '.edit', id=pkg.name %}</li>
    {% endif %}
{% endblock %}

{% block content_action %}
    {% link_for _('View dataset'), named_route=pkg.type ~ '.read', id=pkg.name, class_='btn btn-default', icon='eye' %}
{% endblock %}

{% block content_primary_nav %}
    {{ h.build_nav_icon(pkg.type ~ '.edit', _('Edit metadata'), id=pkg.name, icon='pencil-square-o') }}
    {{ h.build_nav_icon(pkg.type ~ '.resources', _('Resources'), id=pkg.name, icon='bars') }}
    {% if h.check_config_permission('allow_dataset_collaborators') and h.check_access('package_collaborator_create', {'id': pkg_dict.id}) %}
        {{ h.build_nav_icon(pkg.type ~ '.collaborators_read', _('Collaborators'), id=pkg.name, icon='users')}}
    {% endif %}
    <li class="active"><a href="/dataset/relationships/{{ pkg.id }}"><i class="fa fa-sitemap"></i>&nbspRelationships</a></li>

{% endblock %}

{% block secondary_content %}
    {% snippet 'package/snippets/info.html', pkg=pkg, hide_follow_button=true %}
{% endblock %}

{% block subtitle %}{{ _('Relationships') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block page_primary_action %}
    <a class="btn btn-primary" href="/dataset/relationships/{{ pkg_dict.name }}/add"><i class="fa fa-plus-square"></i> Add Child Dataset</a>
{% endblock %}

{% block primary_content_inner %}
  {% set child_packages = h.ord_hierarchy_child_packages(pkg_dict['id'])%}
  {% set parent_packages = h.ord_hierarchy_parent_packages(pkg.id) %}
  {% set count = child_packages|length + parent_packages|length %}
  <h3 class="page-heading">{{ count }} Datasets</h3>
  <table class="table table-header table-hover table-bordered">
    <thead>
      <tr>
          <th>{{ _('Dataset name') }}</th>
          <th>{{ _('Connection Type') }}</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      {% for package in parent_packages %}

        {% set truncate = truncate or 130 %}
        {% set truncate_title = truncate_title or 60 %}
        {% set title = package.title or package.name %}
        {% set display_title = h.truncate(title, truncate_title) %}

        <tr>
          <td class="media">
              <h4><a href="{{h.url_for('%s.read' % package.type, id=package.name)}}" title="{{display_title}}">{{ display_title }}</a></h4></div>
          </td>
          <td> Parent </td>
          <td>
            <div class="btn-group pull-right">
              <a class="btn btn-danger btn-sm" href="{{package.id}}/delete/{{pkg.id}}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this relationship?') }}" title="{{ _('Delete') }}"><i class="fa fa-times"></i></a>
            </div>
          </td>
        </tr>
      {% endfor %}
      {% for package in child_packages %}

        {% set truncate = truncate or 130 %}
        {% set truncate_title = truncate_title or 60 %}
        {% set title = package.title or package.name %}
        {% set display_title = h.truncate(title, truncate_title) %}

        <tr>
          <td class="media">
              <h4><a href="{{h.url_for('%s.read' % package.type, id=package.name)}}" title="{{display_title}}">{{ display_title }}</a></h4></div>
          </td>
          <td> Child </td>
          <td>
            <div class="btn-group pull-right">
              <a class="btn btn-danger btn-sm" href="{{pkg.id}}/delete/{{package.id}}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this relationship?') }}" title="{{ _('Delete') }}"><i class="fa fa-times"></i></a>
            </div>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}