{% block styles %}
  <link rel="stylesheet" href="/css/custom.css" />
{% endblock %}

{% block hierarchy_view %}

  {% set parent_packages = h.ord_hierarchy_parent_packages(pkg.id) %}
  {% if parent_packages %}
    <div class="panel-group" id="accordion-parent">
        <div class="panel-child_datasets">
          <div class="panel-heading">
            <h4 class="panel-title resource-list-h2">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-parent">
                {{ _('Parent Datasets') }}
              </a>
            </h4>
          </div>
         <div id="collapse-parent" aria-expanded="false" class="panel-collapse collapse">
                <div class="panel-body">
                  {% for package in parent_packages %}
                    {% set truncate = truncate or 130 %}
                    {% set truncate_title = truncate_title or 60 %}
                    {% set title = package.title or package.name %}
                    {% set display_title = h.truncate(title, truncate_title) %}

                   <div class="hierarchy_dataset_item_container">
                      {#<h4><a href="/dataset/{{ package.id }}">- &nbsp;&nbsp; {{package.title}}</a></h4>#}
                     <div class="hierarchy_dataset_item">
                        <div class="hierarchy_list_item-grid-container">
                          <div class="hierarchy_list_item_title"><h4><a href="{{h.url_for('%s.read' % package.type, id=package.name)}}" title="{{display_title}}">{{ display_title }}</a></h4></div>
                          <div class="hierarchy_list_item_resources"><p>Resources: {{ package.resources|length }}</p></div>
                          <div class="hierarchy_list_item_date"><p>Last Updated: {{ h.get_dataset_date_package_list_view(package) }}</p></div>
                        </div>
                     </div>
                    </div>
                  {% endfor %}
                </div>
          </div>
        </div>
    </div>
  {% endif %}

  {% set child_datasets = h.ord_hierarchy_child_packages(pkg.id) %}
    {% if child_datasets %}
      <div class="panel-group" id="accordion-child">
        <div class="panel-child_datasets">
          <div class="panel-heading">
            <h4 class="panel-title hierarchy_accordion_title">
              <a class="accordion-toggle hierarchy_accordion_toggle" style="text-decoration:none; " data-toggle="collapse" data-parent="#accordion" href="#collapse-child">
                {{ child_datasets|length}} {{ _(' Child Datasets') }}
              </a>
            </h4>
          </div>
          <div id="collapse-child" aria-expanded="false" class="panel-collapse collapse">
                <div class="panel-body">
                  {% for package in child_datasets %}
                    {% set truncate = truncate or 130 %}
                    {% set truncate_title = truncate_title or 60 %}
                    {% set title = package.title or package.name %}
                    {% set display_title = h.truncate(title, truncate_title) %}

                   <div class="hierarchy_dataset_item_container">
                      {#<h4><a href="/dataset/{{ package.id }}">- &nbsp;&nbsp; {{package.title}}</a></h4>#}
                     <div class="hierarchy_dataset_item">
                        <div class="hierarchy_list_item-grid-container">
                          <div class="hierarchy_list_item_title"><h4><a href="{{h.url_for('%s.read' % package.type, id=package.name)}}" title="{{display_title}}">{{ display_title }}</a></h4></div>
                          <div class="hierarchy_list_item_resources"><p>Resources: {{ package.resources|length }}</p></div>
                          <div class="hierarchy_list_item_date"><p>Last Updated: {{ h.get_dataset_date_package_list_view(package) }}</p></div>
                        </div>
                     </div>
                    </div>
                  {% endfor %}
                </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}

